<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wangshuaijie.notepad_v1">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".GuideActivity"
            android:label="@string/app_name"
            android:theme="@style/guideTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".InformationActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".AboutActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".SelectPictureActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".VideoActivity"
            android:label="视频播放中~~"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
        <activity android:name=".SettingActivity"
            android:label="设置"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
    </application>

</manifest>